[build-system]
requires = ["flit"]
build-backend = "flit.buildapi"

[tool.flit.metadata]
module = "stepwise"
author = "Kale Kundert"
author-email = "kale@thekunderts.net"
home-page = 'https://github.com/kalekundert/stepwise'
requires-python = "~=3.8"
requires = [
  'appdirs',
  'arrow',
  'autoprop',
  'configurator',
  'docopt',
  'more_itertools',
  'nonstdlib',
  'pandas',
  'setuptools',
  'voluptuous',
]
classifiers = [
  'Programming Language :: Python :: 3',
  'License :: OSI Approved :: GNU General Public License v3 (GPLv3)',
]

[tool.flit.scripts]
stepwise = "stepwise:main"

[tool.flit.entrypoints."stepwise.commands"]
lpr = "stepwise.cli:lpr"
ls = "stepwise.cli:ls"

[tool.flit.entrypoints."stepwise.protocol_dirs"]
builtins = "stepwise:protocol_dirs"

[tool.flit.metadata.urls]
'Documentation' = 'https://stepwise.readthedocs.io/en/latest/'
'Version Control' = 'https://github.com/kalekundert/stepwise'
'Bug Tracker' = 'https://github.com/kalekundert/stepwise/issues'
'Continuous Integration' = 'https://travis-ci.org/kalekundert/stepwise'
'Test Coverage' = 'https://coveralls.io/github/kalekundert/stepwise'


